<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufcg.es.ninjalarm"
    android:versionCode="46"
    android:versionName="1.4.6" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MyAlarmsActivity"
            android:label="@string/title_activity_my_alarms"
            android:parentActivityName=".views.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufcg.es.ninjalarm.MainActivity" />
        </activity>
        <activity
            android:name=".views.NewAlarmActivity"
            android:label="@string/title_activity_new_alarm"
            android:parentActivityName=".views.MyAlarmsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufcg.es.ninjalarm.MyAlarmsActivity" />
        </activity>
        <activity
            android:name=".views.TrainingActivity"
            android:label="@string/title_activity_training" >
        </activity>
        <activity
            android:name=".util.MovingBallExample"
            android:label="@string/bola" >
        </activity>
        <activity
            android:name="com.ufcg.es.ninjalarm.views.RankingActivity"
            android:label="@string/title_activity_ranking" >
        </activity>
    </application>

</manifest>